.filter-options {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

ul.filter-options {
    padding: 0;
}

.filter-options button {
    color: white;
    border: none;
    background: transparent;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    padding-top: 5px;
    border-bottom: solid 2px transparent;
}

.filter-options button:hover {
    color: grey;
}

.active {
    color: grey;
    border-bottom: solid 2px #918B76;
}

.selection {
    margin-top: 0px;
    margin-left: 20px;
}

.searchInput {
    margin: 40px 0px 40px 20px;
    padding-left: 10px;
    border-bottom: white;
    z-index: 1;
}