.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #535b54;
  border-bottom: 1px solid white;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.extra-desc {
  color: white;
}

.store-img-wrapper {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-img {
  width: 250px;
  height: 250px;
}
